.main_container{
 .products_container{
    display: flex;
    padding: 1.3rem;
    background-color:#151515;
    ;
    
.shorts_container{
    img{
        width: 100%;
        height: auto;
    }
    h1{
        color:#FFFFFF;
        font-size: 14px;
        font-weight: 400;
        margin-left: 7px;
    }
    p{
        color:#FFFFFF;
        font-size: 12px;
        font-weight: 400;
        margin-left: 7px;
    }
}
.hoodie_container{
    img{
        width: 100%;
        height: auto;
    }
    h1{
        color:#FFFFFF;
        font-size: 14px;
        font-weight: 400;
        margin-left: 7px;
    }
    p{
        color:#FFFFFF;
        font-size: 12px;
        font-weight: 400;
        margin-left: 7px;
    }
}
}}