@import '../../../src/index.scss';

.main_container{
    @include media("mobileonly") {
    background-image: url(../../Images/MobileScreenImages/stream.png);
    background-size: cover;
    width: 100%;
    height: 50vh;
    
    .text_container{
        padding: 5rem 0rem 1rem 2rem;
    p{
        font-style: italic;
        font-size: 10px;
        color: white;
    }
    h1{
        
        font-size: 60px;
        color: white;
        
        span{
            border-bottom: 2px solid white;
        }
    }
    button{
        @include media("mobileonly") {
            width: 103.08px;
 height: 27.13px;
 background: linear-gradient(100.93deg, #EC1B1B 18.6%, #E4580A 100.88%);
border-radius: 5.42532px;
border: none;
font-size: 10px;
text-align: center;
letter-spacing: 0.1em;
margin-bottom: 12px;
    }
}
}
    }}