@import '../../../src/index.scss';
.main_container{
    background-color: #2F2F2F;
    
    .image_container{
        img{
            width: 100%;
            height: auto;
            padding: 0.7rem;
            padding-top: 42px;
            padding-bottom: 38px;
        }
    }
    .text_container{
        padding-top: 42px;
        padding-bottom: 38px;
        p{
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.05em;
        }
        h1{
            font-size: 36px;
            line-height: 43px;
            text-transform: uppercase;
             color: #FFFFFF;
            font-style: italic;

        }
        .icon_container{
           img{
               padding: 2px;
           }
        }

    }
    .slider_container{
       
        @include media("mobileonly") {
            background-color: black;
        display: flex;
        overflow-x: scroll;
        width: 100%;
        height: auto;
        padding: 2rem 1rem 1rem 0rem;
    }
}
.king_container{
    background-color: black;
    padding: 1rem;
    p{
        font-size: 12px;
        font-weight: 300;
        color: #fff;
        line-height: 10px;

    }
    h1{
        font-size: 36px;
        font-weight: 400;
        color: #fff;
        font-style: italic;
        line-height: 22px;


    }
}
}