@import '../../../src/index.scss';
.main_container{
    background-color: black;
    .text_container{
        @include media("mobileonly") {
padding: 2rem;
        
        h2{
            font-weight: 400;
            font-style: italic;
            font-size: 12px;
            color: white;
        }
        h1{
            font-size: 18px;
            font-size: 400;
            color: white;
        }
        p{
            font-size: 12px;
            font-size: 400;
            color: white;
        }
        hr{
            color: white;
        
        }
    }
}

   
}